@(songs: List[Song])@{
	import com.codahale.jerkson.Json._
	
	
	val jsonList = new scala.collection.mutable.ListBuffer[Any]()
	
	for(song <- songs)
	{
		val jsonSong = scala.collection.immutable.Map( 
			"name" -> song.getName(), 
			"id" -> song.getId().toString(),
			"album" -> scala.collection.immutable.Map(
				"name" 			-> song.getAlbum().getName(),
				"id"			-> song.getAlbum().getId(),
				"albumArtUrl"	-> song.getAlbum().getAlbumArtUrl(),
				"artist"	-> scala.collection.immutable.Map(
					"id"			-> song.getAlbum().getArtist().getId(),
					"name"			-> song.getAlbum().getArtist().getName()
					
				)
			)
		);
		
		jsonList.append(jsonSong )
	}
	
	
	Html(generate(jsonList))	
}
