.form-horizontal.well.center.admin-login { margin:50px auto 0 auto;}

header .navbar .brand img { width: 73px; height: 32px; }

#body-container { background-color: white; padding-top: 50px; }
	#admin-top-menu { margin-left:1em; }
	
	.pagination .pull-right p { margin:0; line-height: 40px;}
	
	#id3-tags ul {list-style: none;}
	.music-categories { padding:0;}
	.music-categories-container { min-height:1em; margin-left:40px;}
	.music-categories .music-categories-container li { padding:0 0 0 0;}
		.music-categories .music-categories-container li .thumbnail { background-color: white; }
		.music-categories .music-categories-container li .media-object { width: 64px;}
		.music-categories .music-categories-container .media.music-category { margin-top:10px;}
		
		table.table th a { white-space: nowrap; text-decoration: none;}