.form-horizontal.well.center.admin-login { margin:50px auto 0 auto;}

header .navbar .brand img { width: 73px; height: 32px; }

#body-container { background-color: white; padding-top: 50px; }
	#admin-top-menu { margin-left:1em; }
	
	.pagination .pull-right p { margin:0; line-height: 40px;}
	
	#id3-tags ul {list-style: none;}