html { background-image: url(../img/bg-1.png),url(../img/bg-2.png), url(../img/bg-3.png); background-attachment:fixed; }
body {  padding-bottom: 40px; background: transparent !important; }


#body-container { background-color:white; padding-top: 43px; }


#player {margin: 20px 0 20px 0;}
	#player .navbar-inner {
	background-color: #D4D4D4;
	background-image: -moz-linear-gradient(top, #F0F0F0, #AAA);
	background-image: -ms-linear-gradient(top, #F0F0F0, #AAA);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0F0F0), to(#AAA));
	background-image: -webkit-linear-gradient(top, #F0F0F0, #AAA);
	background-image: -o-linear-gradient(top, #F0F0F0, #AAA);
	background-image: linear-gradient(top, #F0F0F0, #AAA);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#aaaaaa', GradientType=0);
	border-color: #AAA #AAA #848484;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
	border-radius:0;
	}

	#player .navbar-inner { color: #000; }
	#player .navbar-inner  a { color: #000; }
	#player .navbar .nav .active > a, #player  .navbar .nav .active > a:hover { color: white; text-decoration: none; background-color: #AAA; }
	#player a.play {}
	#player a.pause { display:none;}
		#player li.name {padding:9px 10px 11px;}
		#player li a:hover { color: black; background-color: #D4D4D4; }