html { background-image: url(../img/bg.png); background-repeat: repeat; }
body {  padding-bottom: 40px; background: transparent !important; }
	body.stub #body-container { padding-top:120px; padding-bottom:120px;}
footer { margin-top: 45px; padding: 30px 20px 30px 20px; border-top: 1px solid #E5E5E5; }

#body-container { background-color:white; padding-top: 43px; border: 1px solid #DAD7D7;
-webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 1px 5px 10px rgba(0,0,0,0.15);
box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15); }
	#body-container #body-content { padding: 0 20px 0 20px; }
	header form input.loading { background: url(../img/ajax-loader-small.gif) no-repeat center right; }
	header  form.navbar-search input.search-query { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
	header .navbar .brand { margin:3px 0 0 5px; padding:0; }
		header .navbar .brand img { width: auto; height:32px;}

#player {margin: 20px 0 20px 0;}
	#player .navbar-inner {
	background-color: #D4D4D4;
	background-image: -moz-linear-gradient(top, #F0F0F0, #AAA);
	background-image: -ms-linear-gradient(top, #F0F0F0, #AAA);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0F0F0), to(#AAA));
	background-image: -webkit-linear-gradient(top, #F0F0F0, #AAA);
	background-image: -o-linear-gradient(top, #F0F0F0, #AAA);
	background-image: linear-gradient(top, #F0F0F0, #AAA);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#aaaaaa', GradientType=0);
	border-color: #AAA #AAA #848484;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
	border-radius:0;
	}

	#player .navbar-inner { color: #000; }
	#player .navbar-inner a { color: #000; display:block; }
	#player .navbar .nav .active > a, #player  .navbar .nav .active > a:hover { color: white; text-decoration: none; background-color: #AAA; }
	#player .play {}
	#player .pause { display:none;}
	#player .volume-off {display: none;}
		#player li.name {padding:12px 10px 11px 10px; position:relative; }
			#player li.name .song-progress { position:absolute; z-index:1; top:0; left:0; width:0%; height:100%; background-color: #eee; opacity: 0.3;}
			#player li.name span { position:relative; z-index:2; }
		/* #player li a:hover { color: black; background-color: #D4D4D4; } */
		#player .name .song { color: #555; }
	#player .navbar .nav > li > a  { padding:1px 10px 1px 10px; line-height: 25px;}
		#player-share-modal ul { list-style:none; }
			#player-share-modal ul li a { font-size:20px; line-height:1.5em;}
	
	#player .player-controls li a.btn { margin-left:5px; margin-right:5px;}
	
			
	#player .volume .volume-control { position: absolute; width: 45px; background: #BBB;border: 1px solid gray;height: 200px;z-index: 1; border-radius:5px; }
		#player .volume a.btn { position:relative; z-index:2; } 		
			#player .volume .volume-slider-vertical { height: 140px; margin: 45px auto 10px auto; }
		
	
#activityBar { margin: 20px 0 20px 0;}		
	#activityBar ul { list-style: none; display:block; margin:0; padding:0; }
		#activityBar ul li { text-align: center;  display:block; }
			#activityBar ul li img { display:block; padding:0; margin:0 auto 0 auto; }
			#activityBar ul li a { font-size:1.5em; line-height: 1em; display:block; margin: 1em 0 1em 0; }
			
#playlistsRow { margin: 20px 0 20px 0;}
	#playlistsRow ul { list-style: none; display:block; margin:0; padding:0; }
	#playlistsRow ul li h2 { font-size:1em;}
	#playlistsRow ul li a { font-size:1.5em; line-height: 1em; display:block; margin: 1em 0 1em 0; }
		#playlistsRow ul li ul.songs { margin:0; padding:0; list-style: none; display:block; }
			#playlistsRow ul li ul.songs li { display:inline; }
				#playlistsRow ul li .songs img { max-width:60px; max-height:60px; }
				
	ul li.playlistSearchDropdown { }				
		ul li.playlistSearchDropdown span.name { display:block; }
		ul li.playlistSearchDropdown span.description { font-size:0.8em; display:block; padding-left:1em; }
		ul li.playlistSearchDropdown span.artists { font-size:0.9em; display:block; padding-left:1em; }
		

#homepage-register  { width:600px; margin: 0 auto; }
	#homepage-register h1 { margin-bottom: 1em; }
	
	#playlist-page { }
		#playlist-page .controls { margin:1em 0 1em 0;}
		#playlist-page .controls .pause { display:none;}

#playlists-browse-all {}
	#playlists-browse-all .icon-chevron-right { float: right;margin-top: 2px;margin-right: -6px; opacity: .25;}
	#playlists-browse-all .icon-chevron-right.icon-white { float: right;margin-top: 2px;margin-right: -6px; opacity: 1;}
	#playlists-browse-all .categories ul.nav { list-style:none;}
		#playlists-browse-all .categories  ul.nav li { line-height:20px; }
		#playlists-browse-all .categories  ul.nav > li:first-child > a { -webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; }
		#playlists-browse-all .categories  ul.nav > li > a { display: block; margin: 0 0 -1px; padding: 8px 14px; border: 1px solid #E5E5E5; }
		#playlists-browse-all .categories  ul.nav > li:last-child > a { -webkit-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px; }
	
#playlists-browse-all .categories  .active > a { position: relative;z-index: 2;padding: 9px 15px;border: 0;text-shadow: 0 1px 0 rgba(0, 0, 0, .15);-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);-moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);}
#playlists-browse-all .categories  .nav-list > .active > a, #playlists-browse-all .categories  .nav-list > .active > a:hover {color: white;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); background-color: #08C; }
#playlists-browse-all .categories ul { margin:0; padding:0; }

	.playlists ul { margin:0; padding:0; list-style: none; }
		.playlists ul li {  margin-bottom:1em;}
		.playlists .pager { margin-top:2em; }
	
#user-profile {}
	#user-profile .user-image a {margin: 10px 0 0 0; max-width: auto; display: block;}
	#user-profile #recent-playlists ul { list-style: none;}
		#user-profile #recent-playlists ul li .span2 a { display: block; margin-top:10px; height: 100%; }
	#user-profile #saved-playlists ul {list-style: none;}
		#user-profile #saved-playlists ul li .span2 a { display: block; margin-top:10px; height: 100%; }
		
#user-public-profile {}
	#user-public-profile ul { list-style: none;} 
	#user-public-profile a.player-controls-play { display: block; margin-top:10px; height: 100%; }
	
#create-playlist {}
	#create-playlist form.playlist-details .form-actions { padding-bottom: 0; margin-bottom: 0; }	
	#create-playlist .song-search-form input {  }
		#create-playlist .songs-search-results-container ul { list-style: none; margin:10px 0 0 0; padding:0; }
			#create-playlist .songs-search-results-container ul li { margin-bottom:10px; }
				#create-playlist .songs-search-results-container ul li span { display: block; }
				#create-playlist .songs-search-results-container ul li span.album-name { font-size: 0.8em; display: inline; }
				#create-playlist .songs-search-results-container ul li span.artist-name { font-size: 0.8em; display: inline; }
		#create-playlist .playlist-songs-container ul { list-style: none; margin:10px 0 0 0; padding:0; }
			#create-playlist .playlist-songs-container ul li { margin-bottom:10px; background-color: #fff; }
				#create-playlist .playlist-songs-container ul li span { display: block; }
				#create-playlist .playlist-songs-container ul li span.album-name { font-size: 0.8em; display: inline; }
				#create-playlist .playlist-songs-container ul li span.artist-name { font-size: 0.8em; display: inline; }
				#create-playlist .playlist-songs-container ul li img {cursor: move; }

	#create-playlist .songs-search-results-container ul li { margin-bottom: 15px; }
		#create-playlist .songs-search-results-container ul li {  }
		#create-playlist .songs-search-results-container ul li a.add-song-to-playlist  { margin-top: 5px; width: 47px; }

		#create-playlist .albumPreview { }
			#create-playlist .albumPreview table { margin: 0; padding:0; border-collapse: collapse;border: none;}
			#create-playlist .albumPreview td { width:125px; height:125px; margin:0; padding:0; }
			#create-playlist .albumPreview td img { margin:0; padding:0; width:100%; height:100%; }
			#create-playlist .albumPreview .album0 { background-color: #e0e0e0; }
			#create-playlist .albumPreview .album1 { background-color: #e5e5e5; }
			#create-playlist .albumPreview .album2 { background-color: #eaeaea; }
			#create-playlist .albumPreview .album3 { background-color: #f2f2f2;}
			
#user-playlists {}
	#user-playlists ul { list-style: none; }
		#user-playlists ul li { padding:0; margin: 0 0 20px 0; }
			#user-playlists ul li h3 { margin:0; padding:0; }
			
#terms-of-use {}
	#terms-of-use ul li { line-height: 1.5em; margin-bottom: 0.5em; }