@(form: Form[BatchJob], actorClasses: List[Tuple2[String,String]]  )@import helper.twitterBootstrap2._
@Layout.admin("Add Batch Job") {
	<h1>Add Batch Job</h1>
	<hr>
	
	@helper.form(action = routes.AdminController.addBatchJobSubmit(), 'class -> "form-horizontal well", 'id -> "batch-job-add", 'enctype ->"multipart/form-data" ) {
			
			@helper.inputText(form("name" ), '_showConstraints -> false, '_label -> "Name", 'class -> "span4")
		
			@helper.select(form("actorClass"), actorClasses, '_showConstraints -> false, '_label -> "Type", 'class -> "span4" )
		
			<div class="control-group">
				<label class="control-label">ID range</label>
				<div class="controls" >
					<input type="text" class="span2" name="minBatchJobObjectId" placeholder="first object id" value="@form("minBatchJobObjectId").value"> &mdash; 
					<input type="text" class="span2" name="maxBatchJobObjectId" placeholder="last object id" value="@form("maxBatchJobObjectId").value">
				</div>
			</div>		
				
			<div class="control-group"><div class="controls" >
				<p><small>read <a href="@routes.AdminController.batchJobsInfo()" target="_blank">more</a> about batch jobs</small></p>
				<p><small>Processing is started right after the successful addition.</small></p>
				
			</div></div>
		
			<div class="form-actions">
				<input class="btn btn-success" type="submit" value="Add" />
			</div>		
		
	}
}