@(form: Form[BatchJob], actorClasses: List[Tuple2[String,String]]  )@import helper.twitterBootstrap2._
@Layout.admin("Add Batch Job") {
	<h1>Add Batch Job</h1>
	<hr>
	
	@helper.form(action = routes.AdminController.addBatchJobSubmit(), 'class -> "form-horizontal well", 'id -> "batch-job-add", 'enctype ->"multipart/form-data" ) {
			
			@helper.inputText(form("name" ), '_showConstraints -> false, '_label -> "Name", 'class -> "span4")
		
			@helper.select(form("actorClass"), actorClasses, '_showConstraints -> false, '_label -> "Type", 'class -> "span4")
		
			<div class="form-actions">
				<input class="btn btn-success" type="submit" value="Add" />
			</div>		
		
	}
}