@(form: Form[MusicCategory], parent:MusicCategory, types: List[Tuple2[String,String]], categoryType:String)@import helper.twitterBootstrap2._
@Layout.admin("Add Music Category") {
	<h1>Add Music Category</h1>
	@if(parent == null ){
		<h3>Root category</h3>
	} else {
		<h3>Child of <a href="@routes.AdminController.editMusicCategory(parent.getId)">@parent.getName</a></h3>
	}
	<hr>
	
	@helper.form(action = routes.AdminController.addMusicCategorySubmit( if( parent != null) parent.getId else 0, categoryType), 'class -> "form-horizontal well", 'id -> "music-category-edit", 'enctype ->"multipart/form-data" ) {
			
			@helper.inputText(form("name" ), '_showConstraints -> false, '_label -> "Name", 'class -> "span4")
		
			@helper.select(form("type"), types, '_label -> "Category Type")
		
			@helper.inputFile(form("image"), '_label -> "Image", '_help -> ( "image will be resized to " + models.MusicCategory.imageMetadata.width.toString + "x" + models.MusicCategory.imageMetadata.height.toString + " px" ) )
		
			<div class="form-actions">
				<input class="btn btn-success" type="submit" value="Add" />
			</div>		
		
	}
}