@(genres:Page[Genre], term:String)@Layout.admin("Browse Genres") {
<h1>Genres</h1>
<hr>
	<div class="pull-left">
		<a href="@routes.AdminController.addGenre()" class="btn">Add</a>
	</div>
	<div class="pull-right">
		<form class="form-search" method="get" action="@routes.AdminController.browseGenres()">
	  		<input type="text" class="input-medium search-query span3" name="term" placeholder="Search by ID or Genre name" value="@term">
	  		<button type="submit" class="btn">Search</button>
		</form>
	</div>	
	
	<div class="clearfix"></div>
	
	@if( ( genres != null ) && ( genres.getList.size > 0 )){
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		@for(genre <- genres.getList ){
		<tr>
			<td>@genre.getId</td>
			<td>@genre.getName</td>
			<td><a href="@routes.AdminController.editGenre(genre.getId)">Edit</a> | <a href="#">Delete</a></td>
		</tr>	
		}
		</tbody>
	</table>
	
	<div class="pagination">
		@tags.adminPagination( routes.AdminController.browseGenres( _, term = term ), genres.getPageIndex, genres.getTotalPageCount )
	</div>
	
	} else {
	<p>There are no genres found.</p>
	}
}