@(batchJobs:Page[BatchJob], term:String)@Layout.admin("Browse Batch Jobs") {
<h1>Batch Jobs</h1>
<hr>
	
	<div class="pull-left">
		<a href="@routes.AdminController.addBatchJob()" class="btn">Add...</a>
	</div>
	
	<div class="pull-right">
		<form class="form-search" method="get" action="@routes.AdminController.browseBatchJobs()">
	  		<input type="text" class="input-medium search-query span3" name="term" placeholder="Search for ID or Batch Job name" value="@term">
	  		<button type="submit" class="btn">Search</button>
		</form>
	</div>	
	
	@if( ( batchJobs != null ) && ( batchJobs.getList.size > 0 )){
	
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Created</th>
					<th>Total&nbsp;/&nbsp;Completed&nbsp;/&nbsp;Failed</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			@for( batchJob <- batchJobs.getList ){
			<tr>
				<td>@batchJob.getId</td>
				<td>@batchJob.getName</td>
				<td>@( new java.text.SimpleDateFormat( "MMM d, yy" ).format(batchJob.getCreatedDate) )</td>
				<td>@batchJob.getActorCount&nbsp;/&nbsp;@batchJob.getActorCountByStatus(BatchJobActor.Status.completed)&nbsp;/&nbsp;@batchJob.getActorCountByStatus(BatchJobActor.Status.failed)</td>
				<td><a href="@routes.AdminController.editBatchJob(batchJob.getId)">Edit</a> | <a href="@routes.AdminController.deleteBatchJob(batchJob.getId)">Delete</a></td>
			</tr>	
			}
			</tbody>
		</table>
		
		<div class="pagination">
			@tags.adminPagination( routes.AdminController.browseBatchJobs( _, term = term ), batchJobs.getPageIndex, batchJobs.getTotalPageCount )
		</div>
	
	} else {
	<p>There are no batch jobs created.</p>
	}
}