@(users:Page[User], term:String, order:String = "")@Layout.admin("Browse Users") {
<script type="text/javascript">
$( function(){
	
	$("table.users thead input:checkbox").change( function(){
		var x = $(this).prop("checked") ;
		$("table.users tbody input:checkbox").prop("checked", x);
		if(x){
			$("table.users tbody tr").addClass("selected");	
		} else {
			$("table.users tbody tr").removeClass("selected");
		}
	});
	
	$("table.users tbody input:checkbox").change( function(){
		
		if( $(this).prop("checked") ){
			$(this).parents("tr").addClass("selected");	
		} else {
			$(this).parents("tr").removeClass("selected");	
		}
		
		
	});
	
	$(".group-actions a").click( function(){
		var parts = $(this).attr("href").split("?");
		var ids = [];
		$("table.users tbody input:checkbox:checked").each(function(){
			ids.push($(this).val());
		});
		
		if(ids.length){
			window.location.href = parts[0] + "?idList=" + ids.join(",");	
		} else {
			alert("Please select several users first");
		}
		
		
		
		return false;
		
	});
	
});


</script>
	<h1>Users</h1>
	<hr>
	
	<div class="pull-right">
		<form class="form-search" method="get" action="@routes.AdminController.browseUsers()">
	  		<input type="text" class="input-medium search-query span3" name="term" placeholder="Search for ID, Username or Email" value="@term">
	  		<button type="submit" class="btn">Search</button>
		</form>
	</div>	
	
	@if( ( users != null ) && ( users.getList.size > 0 )){
	
	<table class="table table-bordered table-striped users">
		<thead>
			<tr>
				<th><input type="checkbox"></th>
				<th>@tags.adminPaginationSortLink( routes.AdminController.browseUsers( page = 0, term = term, _ ), "ID", "id", order)</th>
				<th>@tags.adminPaginationSortLink( routes.AdminController.browseUsers( page = 0, term = term, _ ), "Username", "username", order)</th>
				<th>@tags.adminPaginationSortLink( routes.AdminController.browseUsers( page = 0, term = term, _ ), "Email", "email", order)</th>
				<th>@tags.adminPaginationSortLink( routes.AdminController.browseUsers( page = 0, term = term, _ ), "Registered", "registered_date", order)</th>
				<th>Role</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		@for(user <- users.getList ){
		<tr data-user-id="@user.getId">
			<td><input type="checkbox" value="@user.getId"></td>
			<td>@user.getId</td>
			<td><!-- <img src="@user.getImageUrl" alt="@user.getUsername"> --> @user.getUsername</td>
			<td>@user.getEmail</td>
			<td>@( new java.text.SimpleDateFormat( "MMM d, yy" ).format(user.getRegisteredDate) )</td>
			<td>@if(user.getRoles != null){
					@user.getRoles.map( (role) => role.getRoleName ).mkString(", ")
					@if(user.getRoles.exists( _.getRoleName.equals(models.UserRole.ROLE_AWAITING) )){
						@if(user.getSentInvitationsCount > 0){
						/ invited
						}
					} 
				}
				
			</td>
			<td><a href="@routes.AdminController.editUser(user.getId)">Edit</a> | <a href="@routes.AdminController.deleteUser(user.getId)">Delete</a></td>
		</tr>
		}
		</tbody>
	</table>
	<div class="group-actions">
		<ul class="breadcrumb">
		  <li class="active"><i>With selected: </i><span class="divider"> </span></li>
		  <li><a href="@routes.AdminController.sendMultipleUserInvitations("")">Send Invitations</a> <span class="divider">|</span></li>
		  <li><a href="@routes.AdminController.deleteMultipleUsers("")">Delete</a></li>
		</ul>	
	</div>
	
	<div class="pagination">
		@tags.adminPagination( routes.AdminController.browseUsers( _, term = term, order ), users.getPageIndex, users.getTotalPageCount, users.getTotalRowCount )
	</div>
	
	} else {
	<p>There are no users found.</p>
	}
}