@(song:Song, form: Form[Song])@import helper.twitterBootstrap2._
@Layout.admin("Edit Song") {
<script type="text/javascript">

$(function(){
	$(".read-id3-tags").click(function(){
		$(".read-id3-tags").hide();
		
		$("#id3-tags").removeClass("hide");
		
		$.get("@routes.AdminController.readSongMetadata(song.getId)", {}, 
				function(result){
					
					
					$("#id3-tags").html( result );
					
				},
				"html"
				
		);
		
		return false;
	});
	
	$(".get-echonest-data").click( function(){
		
		$(this).hide();
		var echonestDataContainer = $("#echonest .echonest-data");
		echonestDataContainer.removeClass("hide");
		
		$.get("@routes.AdminController.getEchonestInfo(song.getId)", {}, 
			function(result){
			echonestDataContainer.html(result);
			}, 
			"html"
		);
		
		return false;
	});
});

</script>
	
	<h1>Edit Song</h1>
	<hr>
	<div>
		<ul class="nav nav-pills">
		  <li><a href="@routes.AdminController.editArtist(song.getAlbum.getArtist.getId)">Edit Artist - @song.getAlbum.getArtist.getName</a></li>
		  <li><a href="@routes.AdminController.editAlbum(song.getAlbum.getId)">Edit Album - @song.getAlbum.getName</a></li>
		  @if(song.getSongUrl != null){
		  <li><a target="_blank" href="@song.getSongUrl"><i class="icon-download"></i> Direct S3 URL</a></li>
		  }
		</ul>	
	</div>	
	<hr>
	
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
	  <li class=""><a href="#actions" data-toggle="tab">Metadata</a></li>
	  <li class=""><a href="#echonest" data-toggle="tab">Echonest Data</a></li>
	</ul>
	<div class="tab-content">
			<div class="tab-pane active" id="details">
			
				@helper.form(action = routes.AdminController.editSongSubmit(song.getId), 'class -> "form-horizontal well", 'id -> "song-edit", 'enctype ->"multipart/form-data" ) {
						
						@helper.inputText(form("name" ), '_showConstraints -> false, '_label -> "Name", 'class -> "span8")
						
						@helper.inputText(form("keywords" ), '_showConstraints -> false, '_label -> "Keywords", 'class -> "span8")
						
						@helper.inputText(form("duration"),  '_label -> "Song Duration, s", 'class -> "span1")
						
						@helper.inputText(form("tracknumber"),  '_label -> "Track Number", 'class -> "span1")
						
						@helper.select(form("status"), scala.collection.immutable.List( Tuple2("hidden", "hidden"), Tuple2("visible", "visible") )  ,   '_label -> "Is visible ?", 'class -> "span2")
					
						<div class="form-actions">
							<input class="btn btn-success" type="submit" value="Update" />
						</div>
					
				}			
			
			</div>
			<div class="tab-pane hide" id="actions">
				@if( song.getSongMetadata != null ){
					
					<dl>
						<dt>Artist</dt>
						<dd>@song.getSongMetadata.getArtist</dd>
					</dl>	
					<dl>
						<dt>Album</dt>
						<dd>@song.getSongMetadata.getAlbum</dd>
					</dl>
					<dl>
						<dt>Title</dt>
						<dd>@song.getSongMetadata.getTitle</dd>
					</dl>		
					<dl>
						<dt>Genre</dt>
						<dd>@song.getSongMetadata.getGenre</dd>
					</dl>			
					<dl>
						<dt>Track</dt>
						<dd>@song.getSongMetadata.getTrack</dd>
					</dl>							
					<dl>
						<dt>Musicbrainz Track ID</dt>
						<dd>@song.getSongMetadata.getMusicbrainzTrackId</dd>
					</dl>
					<dl>
						<dt>Mood</dt>
						<dd>@song.getSongMetadata.getMood</dd>
					</dl>																			
					<dl>
						<dt>BPM</dt>
						<dd>@song.getSongMetadata.getBpm</dd>
					</dl>						
					<dl>
						<dt>Year</dt>
						<dd>@song.getSongMetadata.getYear</dd>
					</dl>					
				} else {
					<a href="#" class="btn read-id3-tags">Read ID3 tags...</a>
					<div id="id3-tags" class="hide"><img alt="Loading..." src="@routes.Assets.at("img/ajax-loader-small.gif")" ></div>
				}
			</div>
			<div class="tab-pane hide" id="echonest">
				@if( song.getEchonestSong != null ){
		<div>
			<dl>
				<dt>Title</dt>
				<dd>@song.getEchonestSong.getTitle</dd>
			</dl>
			<dl>
				<dt>Artist</dt>
				<dd>@song.getEchonestSong.getArtistName</dd>
			</dl>
			<dl>
				<dt>Duration</dt>
				<dd>@song.getEchonestSong.getDuration</dd>
			</dl>
			<dl>
				<dt>BPM</dt>
				<dd>@song.getEchonestSong.getTempo</dd>
			</dl>
			<dl>
				<dt>Mode</dt>
				<dd>@song.getEchonestSong.getMode</dd>
			</dl>
			<dl>
				<dt>Song Hotttnesss</dt>
				<dd>@song.getEchonestSong.getSongHotttnesss</dd>
			</dl>
			<dl>
				<dt>Artist Hotttnesss</dt>
				<dd>@song.getEchonestSong.getArtistHotttnesss</dd>
			</dl>
			<dl>
				<dt>Artist Location</dt>
				<dd>@song.getEchonestSong.getArtistLocation</dd>
			</dl>
			<dl>
				<dt>Audio Info</dt>
				<dd>@if( song.getEchonestSong.getAudio ){
						@song.getEchonestSong.getAudio
					} else { 
						<i>null</i> 
					} </dd>
			</dl>			
			<dl>
				<dt>Cover Art</dt>
				<dd>@if(song.getEchonestSong.getCoverArt){</dd>
					<a href="@song.getEchonestSong.getCoverArt" target="_blank">@song.getEchonestSong.getCoverArt</a>
				} else {
					<i>null</i>
				}
				</dd>
			</dl>
			<dl>
				<dt>Release Name</dt>
				<dd>@song.getEchonestSong.getReleaseName</dd>
			</dl>
		
		</div>					
				} else {
					<a href="#" class="btn btn-primary get-echonest-data">Read Echonest Data...</a>
					<div class="hide echonest-data"><img alt="Loading..." src="@routes.Assets.at("img/ajax-loader-small.gif")" ></div>
				
				}
				
			</div>
	</div>	
	

	
	
}