@(song:Song, form: Form[Song])@import helper.twitterBootstrap2._
@Layout.admin("Edit Song") {
	<h1>Edit Song</h1>
	<hr>
	
	@helper.form(action = routes.AdminController.editSongSubmit(song.getId), 'class -> "form-horizontal well", 'id -> "song-edit", 'enctype ->"multipart/form-data" ) {
			
			@helper.inputText(form("name" ), '_showConstraints -> false, '_label -> "Name", 'class -> "span8")
		
			<div class="form-actions">
				<input class="btn btn-success" type="submit" value="Update" />
			</div>		
		
	}
}