@(genre:Genre, form: Form[Genre])@import helper.twitterBootstrap2._
@Layout.admin("Edit Genre") {
	<h1>Edit Genre</h1>
	<hr>
	
	@helper.form(action = routes.AdminController.editGenreSubmit(genre.getId), 'class -> "form-horizontal well", 'id -> "genre-edit", 'enctype ->"multipart/form-data" ) {
			
			@helper.inputText(form("name" ), '_showConstraints -> false, '_label -> "Name", 'class -> "span4")
		
			<div class="form-actions">
				<input class="btn btn-success" type="submit" value="Update" />
			</div>		
		
	}
}