@Layout.default("Contact Us") {

<link href="https://d3jyn100am7dxp.cloudfront.net/assets/widget_embed.cssgz?1346651680" media="screen" rel="stylesheet" type="text/css" />
<!--If you already have fancybox on the page this script tag should be omitted-->
<script src="https://d3jyn100am7dxp.cloudfront.net/assets/widget_embed_libraries.jsgz?1346651681" type="text/javascript"></script>

                        <script>
                                
                                // ********************************************************************************
                                // This needs to be placed in the document body where you want the widget to render
                                // ********************************************************************************
                                
                                new DESK.Widget({ 
                                        version: 1, 
                                        site: 'support.skyjam.fm', 
                                        port: '80', 
                                        type: 'email', 
                                        displayMode: 1,  //0 for popup, 1 for lightbox
                                        features: {  
                                        },  
                                        fields: { 
                                                ticket: { 
                                                        // desc: '',
                                // labels_new: '',
                                // priority: '',
                                // subject: ''
                                                }, 
                                                interaction: { 
                                                        // email: '',
                                // name: ''
                                                }, 
                                                email: { 
                                                        //subject: '', 
                                                        //body: '' 
                                                }, 
                                                customer: { 
                                                        // company: '',
                                // desc: '',
                                // first_name: '',
                                // last_name: '',
                                // locale_code: '',
                                // title: ''
                                                } 
                                        } 
                                }).render();  
                        </script>}