@Layout.default("Copyright Infringement Claims") {
<h1>Copyright Infringement Claims</h1>


<p>Any claims of copyright infringement involving materials or works on the
  <span class="SpellE">SkyJam</span> web site should be submitted in writing to
  <span class="SpellE">SkyJam's</span> Designated Agent and should
  include the following:</p>

<ul>
  <li>Your electronic or physical signature;</li>

  <li>The identification or description of the copyrighted work claimed to be infringed;</li>

  <li>A description of where the allegedly infringing content is located on the <a href="@routes.ApplicationController.index()">
  <span class='c6'>SkyJam.fm</span></a> web site, sufficient
  enough for us to locate the material in question;</li>

  <li>Your name, address, telephone number, facsimile number, and/or e-mail
  address, so <span class="SpellE">SkyJam</span> can contact you about your
  claim;</li>

  <li>A statement that you have a good-faith belief that the use in question
  is not authorized by the copyright owner, its agent, or the law;</li>

  <li>A statement, made under penalty of perjury, that the information in your
  notification is accurate and that you are the copyright owner or authorized to act on
  the copyright owner's behalf</li>

  <li>All notices of copyright infringement should be sent to <span class="SpellE">SkyJam's</span> Designated
  Agent:</li>

</ul>

}