@Layout.default("Privacy Policy") {
<h1>Privacy Policy</h1>
<hr>

<p>For information not covered below, please see the Terms of Service.</p>

  <h2>Information We Collect</h2>

  <p>We store information that we collect through cookies, log files,
  and clear gifs to create a "profile" of your preferences.
  Personally identifiable information is used by <a href="@routes.ApplicationController.index()"><span class=
  'c3'>SkyJam.fm</span></a> in order to provide tailored services and to improve the
  content of the site for you. Non-personally identifiable information is used by
  <a href="@routes.ApplicationController.index()"><span class='c3'>SkyJam.fm</span></a> and <span class=
  "SpellE">SkyJam.fm's</span> advertising partners in order to provide
  tailored advertisements that increase the relevance of the products to you whenever
  possible.</p>

  <h2>Who We Share Information With</h2>

  <p><a href="@routes.ApplicationController.index()"><span class=
  'c5'>SkyJam.fm</span></a> will comply with demands made by law enforcement
  or other governmental officials, in response to a verified request relating to a
  criminal investigation.</p>

  <p>Only NON-personally identifiable, group information may be
  shared or sold to <a href="@routes.ApplicationController.index()"><span class='c3'>SkyJam.fm</span></a>
  partners.</p>

  <p>We use third-party advertising companies to serve ads when you
  visit our Web site. These companies may use aggregated information (not including your
  name, address, email address or telephone number) about your visits to this and other
  Web sites in order to provide advertisements about goods and services of interest to
  you. If you would like more information about this practice and to know your choices
  about not having this information used by these companies, click here: <a href=
  "http://www.networkadvertising.org/managing/opt_out.asp"><span class=
  'c6'>http://www.networkadvertising.org/managing/opt_out.asp</span></a></p>

  <h2>Who We Do Not Share Information With</h2>

  <p>We absolutely do NOT share your personally identifiable
  information (email address, first or last name, etc.) with ANY third-party or partner
  unless you explicitly request that we do.</p>

  <h2>Customer Service</h2>

  <p>Based upon the information you provide us, we will send you a
  welcome email to verify your username and password. We will also communicate with you
  in response to your inquiries, to provide the services you request, to manage your
  account and inform you of new services and features <a href=
  "@routes.ApplicationController.index()"><span class='c3'>SkyJam.fm</span></a> is offering. Any time that we
  email you, you will have the ability to opt out of all future
  communications.</p>

  <p><a href="@routes.ApplicationController.index()"><span class=
  'c5'>SkyJam.fm</span></a> will never ask for your login or personally
  identifiable information in emails, instant messages, or pop-ups. If you witness any of
  these possible scams, ignore them and inform us at support [at] <a href=
  "@routes.ApplicationController.index()"><span class='c6'>SkyJam.fm</span></a>.</p>

  <p>We take your privacy very seriously; if you feel <a href=
  "@routes.ApplicationController.index()"><span class='c3'>SkyJam.fm</span></a> is violating your privacy in
  any way, please contact us at support [at] <a href="@routes.ApplicationController.index()"><span class=
  'c9'>SkyJam.fm</span></a></p>
  
}