@Layout.default("Terms of Service") {
<div id="terms-of-use">
<h1>Terms of Service</h1>
<hr>

  <p>By using the <a href="@routes.ApplicationController.index()">SkyJam.fm</a> web site, a service of Sky Media, llc., you are agreeing to be bound by the following terms and conditions ("Terms of Use").</p>

  <h2>Basic Terms</h2>
  

  <ul>
  	<li>You are responsible for any activity that occurs under your screen name.</li>
  	<li>You are responsible for keeping your password secure.</li>
	<li>You may not use the <a href="@routes.ApplicationController.index()">SkyJam.fm</a> service for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.</li>
	<li>You are responsible for keeping your password secure.</li>
	<li>You may not use the <a href="@routes.ApplicationController.index()">SkyJam.fm</a> service for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.</li>
	<li>You are solely responsible for your conduct and any data, text, information, screen names, graphics, photos, profiles, links ("Content") that you submit, post, and display on the <a href="@routes.ApplicationController.index()">SkyJam.fm</a> website.</li>
	<li>You must not modify, adapt or hack <a href="@routes.ApplicationController.index()">SkyJam.fm</a> or modify another website so as to falsely imply that it is associated with <a href="@routes.ApplicationController.index()">SkyJam.fm</a></li>
	<li>You must not, in the use of <a href="@routes.ApplicationController.index()">SkyJam.fm</a>, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
	<li>You will not circumvent, or attempt to circumvent, any technology used by <a href="@routes.ApplicationController.index()">SkyJam.fm</a> or its licensors to protect content accessible via <a href="@routes.ApplicationController.index()">SkyJam.fm</a>. Likewise, you will not circumvent, or attempt to circumvent, SkyJam's enforcement of it obligations under its music licenses.</li>
	<li>You will not create playlists on <a href="@routes.ApplicationController.index()">SkyJam.fm</a> for your own personal use and you will not circumvent, or attempt to circumvent, any technology or methods used by <a href="@routes.ApplicationController.index()">SkyJam.fm</a> to prevent such use. (Contributing playlists to <a href="@routes.ApplicationController.index()">SkyJam.fm</a> for use by the broader <a href="@routes.ApplicationController.index()">SkyJam.fm</a> community does not violate this term.)</li>
	<li>You must be a resident of the United States.</li>
	<li>Violation of any of these agreements will result in the termination of your <a href="@routes.ApplicationController.index()">SkyJam.fm</a> account. 
		While <a href="@routes.ApplicationController.index()">SkyJam.fm</a>
  		prohibits such conduct and content on its site, you understand and agree that <a href="@routes.ApplicationController.index()">SkyJam.fm</a> 
  		cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials
  		and that you use the <a href="@routes.ApplicationController.index()">SkyJam.fm</a>
  		service at your own risk.
  	</li>

	  
  </ul>

  <h2>General Conditions</h2>

	<ul>
		<li>We reserve the right to modify or terminate the
  <a href="@routes.ApplicationController.index()">SkyJam.fm</a> service for any
  reason, without notice at any time.</li>
		<li>We reserve the right to alter these Terms of Use at any time. If the
  alterations constitute a material change to the Terms of Use, we will notify you via
  internet mail. What constitutes a "material change" will be determined at our sole
  discretion, in good faith and using common sense and reasonable
  judgment.</li>
		<li>We may, but have no
  obligation to, remove Content and accounts containing Content that we determine in our
  sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or
  otherwise objectionable or violates any party's intellectual
  property or these Terms of Use.</li>
		<li>We reserve the right to reclaim usernames on
  behalf of businesses or individuals that hold legal claim or trademark on those
  usernames.</li>
	</ul>
</div>


}