@(
	title: String = "", 
	metaKeywords: String = "Skyjam, music guide, online radio station,internet radio,listen free internet radio,free internet radio music,free internet radio,custom online radio,custom internet radio,personalized online radio,personalized internet radio,internet radios,online music radio,internetradio,listen to free radio, online radio,free online music radio,listen to music radio,free music radio,make a playlist,listen to free internet radio,music radio station,free online radio,radio music listen,listen free radio,listen to internet radio,free radio stations,free radio,listen to free radio stations,listen online radio,free music playlist,free online radio station,online radio,online radios, christmas music, free christmas playlist, free christmas music", 
	metaDescription: String = "SkyJam is an internet service for music. It has a search engine, streaming service, and recommendation application. Users can stream and upload music that can be played immediately or added to a playlist. Music can me shared with friends and social media sites like facebook and twitter", 
	context:play.mvc.Http.Context = play.mvc.Http.Context.current(),
	isSecureConnection:Boolean = global.Global.isSecure(),
	hideBottomMenu:Boolean = false
)(content: Html)@import be.objectify.deadbolt.views.html._
<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="@metaDescription">
    	<meta name="keywords" content="@metaKeywords">
        <title>Skyjam @if( title != "" ){ :: @title }</title>
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-responsive.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/ui-lightness/jquery-ui-1.8.22.custom.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        
        
        <script src="@routes.Assets.at("js/libs/jquery-1.7.2.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/modernizr.js")" type="text/javascript"></script>
        <!-- <script src="@routes.Assets.at("js/libs/jquery.history.js")" type="text/javascript"></script>  -->
        <script src="@routes.Assets.at("js/libs/URI.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/jquery.URI.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/underscore.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/can.jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/jquery-ui.custom.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/jquery.pjax.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/jquery.cookie.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/jquery.form.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/jquery.pageUpdate.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("soundmanager2/script/soundmanager2-nodebug-jsmin.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/application.js")" type="text/javascript"></script>
        
        <link rel="shortcut icon" href="@routes.Assets.at("favicon.ico")" >
   		<link rel="icon" type="image/gif" href="@routes.Assets.at("animated_favicon.gif")" >
        
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->        
		 
		<script type="text/javascript">
		var application = new Application({
			pjax : Modernizr.history,
			
			urls: {
				
				idPlaceholder : "999",
				
				headerFormSearch : "@routes.PlaylistController.searchJson.absoluteURL(context.request(), isSecureConnection)",
				playlist : "@routes.PlaylistController.playlist(999, null).absoluteURL(context.request(), isSecureConnection)",
				getAuthUser : "@routes.UserController.getAuthUserJson().absoluteURL(context.request(), isSecureConnection)",
				
				saveFavoritePlaylist : "@routes.PlaylistController.saveFavoritePlaylist(999).absoluteURL(context.request(), isSecureConnection)",
				deleteFavoritePlaylist: "@routes.PlaylistController.deleteFavoritePlaylist(999).absoluteURL(context.request(), isSecureConnection)",
				
				searchSongs: "@routes.SongController.searchJson().absoluteURL(context.request())"

			},
			player: {
				urls: {
					get_current_playlist : "@routes.PlaylistController.getCurrentPlaylistJson(999).absoluteURL(context.request(), isSecureConnection)",
					set_current_playlist : "@routes.PlaylistController.setCurrentPlaylistJson(999).absoluteURL(context.request(), isSecureConnection)",
					
					save_playlist_song_activity : "@routes.PlaylistController.trackPlaylistSongActivity().absoluteURL(context.request(), isSecureConnection)",
					save_playlist_song_rating : "@routes.PlaylistController.savePlaylistSongRating().absoluteURL(context.request(), isSecureConnection)",
					
					get_user_playlist_data: "@routes.PlaylistController.getUserPlaylistData(999).absoluteURL(context.request(), isSecureConnection)"
					
				},
				soundmanager : {
					swf_path : "@routes.Assets.at("soundmanager2/swf/soundmanager2_flash9.swf").absoluteURL(context.request(), isSecureConnection)"
				}
			},
			user : @views.html.User.getUserJson()
				
		});
		
		$( function(){ 
			application.onDomReady(); 
		});
		
		</script>
		<script src="@routes.Assets.at("js/libs/player.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/create-playlist.js")" type="text/javascript"></script>
        
		<!-- facebook -->
		 
		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '@play.Play.application().configuration().getString("application.facebook_app_id")', // App ID
		      channelUrl : '@routes.Assets.at("channel.html").absoluteURL(request)', // Channel File
		      status     : true, // check login status
		      cookie     : true, // enable cookies to allow the server to access the session
		      xfbml      : true  // parse XFBML
		    });
		
		    // Additional initialization code here
		  };
		
		  // Load the SDK Asynchronously
		  (function(d){
		     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement('script'); js.id = id; js.async = true;
		     js.src = "//connect.facebook.net/en_US/all.js";
		     ref.parentNode.insertBefore(js, ref);
		   }(document));
		</script>        
		<!-- twitter -->
		<script src="https://platform.twitter.com/anywhere.js?id=@play.Play.application().configuration().getString("application.twitter_app_id")&amp;v=1" type="text/javascript"></script>
    	<!-- LiveFyre comments -->
    	<!--  <script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>  -->
    </head>
    <body class="main">
    	<header>
			<div class="navbar navbar-fixed-top">
		      <div class="navbar-inner">
		        <div class="container">
		          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </a>
		          <a class="brand" href="@routes.ApplicationController.index()"><img src="@routes.Assets.at("img/top-menu-logo.png")" width="73" height="32" alt="Skyjam" ></a>
		          
		          <div class="nav-collapse">
          			
          			@tags.userTopMenu()
		            
		            <form class="navbar-search pull-right" action="#">
            			<input type="text" class="search-query span4" placeholder="Search by Artist, Album or Song Name">
          			</form>		                 			
		            
		          </div>
		        </div>
		      </div>
		    </div>
		  </header>
		  
		  <div class="container" id="body-container">    
		     	@tags.player()
		     	<div id="body-content" class="clearfix">
        		@content
        		</div>
        		
        		
	        	<footer class="clearfix">
	        		
	        		<p class="pull-left">
	        			
	        			<span class="user-logged-menu @if(hideBottomMenu){hidden}">
		        			<a href="@routes.ApplicationController.index()">Homepage</a> | 
		        			<a href="@routes.PageController.termsOfUse()">Terms of Service</a> | 
		        			<a href="@routes.PageController.privacyPolicy()">Privacy Policy</a> |
		        			<a href="@routes.PageController.copyrightInfringment()">Copyright</a> |
		        			<a href="@routes.PageController.about()">About</a> | 
		        			<a href="@routes.PageController.contactUs()">Contact Us</a> |
		        			<a href="@routes.ArtistController.browse(0)">Artists</a>
	        			</span>
	        			
        				<span class="user-unlogged-menu @if(!hideBottomMenu){hidden}">
        					<a href="@routes.UserController.homepageRegister()" class="no-pjax">Homepage</a>
        				</span>
	        			
	        		</p>
	        		
	        			
	        		<p class="pull-right"><a href="#body-container">Back to Top</a></p>
	        	</footer>        	
        		
        </div>
		<div id="fb-root"></div>
    </body>
</html>
