@(playlist:Any)

<div id="player-container">

	<div id="player" class="container">
		<div class="navbar">
		  <div class="navbar-inner">
		    <div class="container">
			    	<ul class="nav pull-right">
					  <li class="name"><!-- Loading... --></li>
					   
					</ul>
		    	</div>
			</div>
		</div>
	</div>

</div>


<script type="text/ejs" id="player-template">
<div id="player" class="container">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
		    	<ul class="nav pull-right player-controls">
				  <li class="name"><div class="song-progress"></div><span class="playlist"><%= playlist.name %></span> <span class="song"><% if(song){ %><%= song.Song.name %><% } %></span></li>
				  <li class="play"><a class="btn" href="javascript://" ><i class="icon-play"></i> Play</a></li>
				  <li class="pause"><a class="btn" href="javascript://" ><i class="icon-pause"></i> Pause</a></li>
				  <li class="next-song"><a class="btn" href="javascript://"><i class="icon-forward"></i> Next Song</a></li>
				  <li class="volume"><a class="btn" href="javascript://"><i class="icon-volume-up"></i></a>
				  <li class="volume-off"><a class="btn" href="javascript://"><i class="icon-volume-off"></i></a>
				  <li class="like"><a class="btn" href="javascript://"><i class="icon-thumbs-up"></i></a>
				  <li class="dislike"><a class="btn" href="javascript://"><i class="icon-thumbs-down"></i></a>
				  <li class="share"><a class="btn" href="javascript://"><i class="icon-share"></i> Share</a>
				</ul>
	    	</div>
		</div>
	</div>
</div>
<div class="modal hide" id="player-share-modal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>Share</h3>
	  </div>
	  <div class="modal-body">
	    	<h3>Share on:</h3>
			<ul>
				<li><a class="facebook" href="javascript://">Facebook</a></li>
				<li><a class="twitter" href="javascript://">Twitter</a></li>
			</ul>
	
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal">Close</a>

	  </div>
</div>
<div class="modal hide" id="player-share-twitter-modal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>Share on Twitter</h3>
	  </div>
	  <div class="modal-body" id="player-share-modal-modal-body">
				
	  </div>

</div>

</script>