@(form: Form[UserController.Login])
@import helper.twitterBootstrap2._
@Layout.default("Login") {
        
        
        
        @helper.form(action = routes.UserController.authenticate, 'class -> "form-horizontal well span6 offset2", 'id -> "user-sign-in") {
            
            <h2>Sign in</h2><hr>
            
            @if(form.hasGlobalErrors) { 
                <div  class="alert alert-error">
                    @form.globalError.message
                </div>
            }
            
            @if(flash.contains("success")) {
                <div  class="alert alert-success">
                    @flash.get("success")
                </div>
            }
            
            @helper.inputText(form("email" ), '_showConstraints -> false)
            
            @helper.inputText(form("password" ), '_showConstraints -> false)
            
				
			<div class="form-actions">
				<input class="btn btn-success" type="submit" value="Sign In" /> OR <a href="@routes.UserController.register()">Sign Up</a>
			</div>
            
        }
        
}