@(form: Form[UserController.Login])
@import helper.twitterBootstrap2._
@Layout.default(title = "Login", hideBottomMenu = true) {
        
        
        
        @helper.form(action = routes.UserController.authenticate, 'class -> "form-horizontal well center", 'id -> "user-sign-in") {
            
            <h2>Sign in</h2><hr>
            
            @if(form.hasGlobalErrors) { 
                <div  class="alert alert-error">
                    @form.globalError.message
                </div>
            }
            
            @if(flash.contains("success")) {
                <div  class="alert alert-success">
                    @flash.get("success")
                </div>
            }
            
            @helper.inputText(form("email" ), '_showConstraints -> false)
            
            @helper.inputPassword(form("password" ), '_showConstraints -> false)
            
				
			<div class="form-actions">
				<input class="btn btn-success" type="submit" value="Sign In" /> OR <a href="@routes.UserController.register()">Sign Up</a>
				<a style="display:block; margin-top:1em;" href="@routes.UserController.forgotPassword()">Forgot your password ?</a>
			</div>
            
        }
        
}