@(form: Form[User], user:User, recentPlaylists:List[Playlist], savedPlaylists: List[UserSavedPlaylist])@import helper.twitterBootstrap2._
@Layout.default("Profile") {
	
<div id="user-profile">
	
	<h1>				
 	<img alt="@user.getUsername" src="@user.getImageUrl()?_=@System.currentTimeMillis()" >			
	
	Hello, @user.getUsername()</h1>
	<hr>
			
            @if(flash.contains("image_error")) {
                <div class="alert alert-error">@flash.get("image_error")</div>
            }
            
            @if(flash.contains("image_success")) {
                <div class="alert alert-success">@flash.get("image_success")</div>
            }			
            
			@if(flash.contains("password_success")) {
                <div class="alert alert-success">@flash.get("password_success")</div>
            }            
			
				<div class="row-fluid">

					<div class="span8">					
						
						@helper.form(action = routes.UserController.profileUpdate(), 'class -> "form-horizontal well", 'id -> "profile-edit", 'enctype ->"multipart/form-data") {
						
						@helper.inputFile(form("image"), '_label -> "Image")
						
						@helper.inputPassword(form("password" ), '_showConstraints -> false, '_label -> "Reset Password")
						
						@helper.inputPassword(form("password_reset" ), '_showConstraints -> false, '_label -> "Repeat Password")
							
						<div class="form-actions">
							<input class="btn btn-success" type="submit" value="Update" />
						</div>
						}	
							
					</div>
					<div class="span4">
						<h4>Help</h4>
						<hr />
						<p>Some help there . Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
					</div>
					

					
					
				</div>
				
				
	<div class="row-fluid">
	
	<div id="saved-playlists" class="span6">
		<h3>Saved Playlists</h3>
		<hr>
		
		@if( ( savedPlaylists != null ) && ( savedPlaylists.size > 0 ) ){
	
					<ul>
					@for(savedPlaylist <- savedPlaylists ){
						<li class="clearfix">
						
							<div class="row-fluid">
								<div class="span2">
									<!-- a first album image -->
									@if( savedPlaylist.getPlaylist.getPlaylistSongs.size() > 0 ){
										<img src="@savedPlaylist.getPlaylist.getPlaylistSongs.get(0).getSong.getAlbum.getAlbumArtUrl" alt="@savedPlaylist.getPlaylist.getPlaylistSongs.get(0).getSong.getAlbum.getName" >
									}									
									
									<a href="javascript://" class="btn play player-controls-play btn-small" data-playlist-id="@savedPlaylist.getPlaylist.getId"><i class="icon-play"></i> Play</a> 
								</div>
								<div class="span10"> 
									<h4><a href="@routes.PlaylistController.playlist(savedPlaylist.getPlaylist.getId, null)">@savedPlaylist.getPlaylist.getName</a></h4>
									<p><small>With Artists: @savedPlaylist.getPlaylist().getPlaylistSongs().map( pSong => pSong.getSong().getAlbum().getArtist().getName() ).distinct.mkString(", ")</small></p>
									
								</div>
								
							</div>						
							<hr>
						</li>
					}
				</ul>

	} else {
		<p>There are no playlists loaded.</p>
	}
		
	</div>
	
	<div id="recent-playlists" class="span6">
	<h3>Recent Playlists</h3>
	<hr>
	@if( ( recentPlaylists != null ) && ( recentPlaylists.size > 0 ) ){
	
					<ul>
					@for(playlist <- recentPlaylists ){
						<li class="clearfix">
						
							<div class="row-fluid">
								<div class="span2">
									<!-- a first album image -->
									@if( playlist.getPlaylistSongs.size() > 0 ){
										<img src="@playlist.getPlaylistSongs.get(0).getSong.getAlbum.getAlbumArtUrl" alt="@playlist.getPlaylistSongs.get(0).getSong.getAlbum.getName" >
									}
									
									<a href="javascript://" class="btn play player-controls-play btn-small" data-playlist-id="@playlist.getId"><i class="icon-play"></i> Play</a> 
								</div>
								<div class="span10"> 
									<h4><a href="@routes.PlaylistController.playlist(playlist.getId, null)">@playlist.getName</a></h4>
									<p><small>With Artists: @playlist.getPlaylistSongs().map( pSong => pSong.getSong().getAlbum().getArtist().getName() ).distinct.mkString(", ")</small></p>
									
								</div>
								
							</div>						
							<hr>
						</li>
					}
				</ul>
				

	} else {
		<p>There are no playlists loaded.</p>
	}
	</div>	
	
	

	</div>
			
</div>	
	
		
	

}