@(upr: UserPasswordReset, form: Form[User])@import helper.twitterBootstrap2._
@Layout.default("Password Reset") {
<div>

	@if(upr != null){
	
	<h1>Choose your new password.</h1>
	<hr>
            
			@if(flash.contains("password_success")) {
                <div class="alert alert-success">@flash.get("password_success")</div>
            } else {            
					
				@helper.form(action = routes.UserController.resetPassword(upr.getCode), 'class -> "form-horizontal well center", 'id -> "user-password-reset", 'method -> "XPOST") {
				
					@helper.inputPassword(form("password_reset" ), '_showConstraints -> false, '_label -> "New Password")
					
					@helper.inputPassword(form("password_repeat" ), '_showConstraints -> false, '_label -> "Repeat Password")
						
					<div class="form-actions">
						<input class="btn btn-success" type="submit" value="Submit" />
					</div>
				}	
			}
		
		} else {
			<h1>Password Reset</h1>
			<div class="alert alert-error">Your reset password request is either expired or invalid. Please try to submit your request again.</div>
		}
						
</div>		
	

}