@(topLevelCategories: List[MusicCategory], siblingCategories : List[MusicCategory], currentCategory: MusicCategory, playlists: Page[Playlist] )@Layout.default(
	title = "Browse playlists",
	metaKeywords = "Playlists" + ( if( ( playlists != null ) && ( playlists.getList.size > 0 )){ ", "+playlists.getList.map( playlist => playlist.getName() ).mkString(", ") } else { "" } ) ,
	metaDescription = ( if( ( playlists != null ) && ( playlists.getList.size > 0 )){ "Playlists : "+playlists.getList.map( playlist => playlist.getName() ).mkString(", ") } else { "There are no playlists found" } )
	 
) {
<div id="playlists-browse-all">
	<h1>Browse Playlist Categories</h1>
	<hr />
	<ul class="nav nav-pills">
		@for(category <- topLevelCategories){
		  <li class="@(if(category.isParentOf(currentCategory))"active")"><a href="@routes.PlaylistController.browseCategory(category.getId)">@category.getName</a></li>
		}
	</ul>
	<hr />
	
	<div class="categories row-fluid">
		<div class="span3">
			
			<ul class="nav nav-list">
				@for(category <- siblingCategories.filter( _.getPlaylistsCount() > 0 ) ){
				<li class="@(if(category.getId == currentCategory.getId)"active")"><a href="@routes.PlaylistController.browseCategory(category.getId)"><i class="icon-chevron-right @(if(category.getId == currentCategory.getId)"icon-white")"></i> @category.getName</a></li>
				}
			</ul>
			
		</div>
		
		<div class="playlists span9 clearfix">
			@if( ( playlists != null ) && ( playlists.getList.size > 0 )){
				<ul>
					@for(playlist <- playlists.getList ){
						<li class="clearfix">
							<div class="row-fluid">
								<div class="span2">@tags.playlistThumbnail(playlist)</div>
								<div class="span10"> 
									<h2><a href="@routes.PlaylistController.playlist(playlist.getId, null)">@playlist.getName</a><a href="javascript://" class="btn play player-controls-play pull-right" data-playlist-id="@playlist.getId"><i class="icon-play"></i> Play</a></h2>
									<p>@playlist.getDescription</p>
									<p><small>With Artists: @playlist.getArtists().map( artist => artist.getName ).mkString(", ")</small></p>
								</div>
							</div>						
							<hr>
						</li>
					}
				</ul>
				
				@if(playlists.hasNext || playlists.hasPrev){
				<ul class="pager pull-left">
					@if(playlists.hasPrev){
  					<li><a href="@routes.PlaylistController.browseCategory(currentCategory.getId,playlists.getPageIndex - 1)">Previous</a></li>
  					} else {
  					<li class="disabled"><a href="javascript://">Previous</a></li>
  					}
  					@if(playlists.hasNext){
  					<li><a href="@routes.PlaylistController.browseCategory(currentCategory.getId,playlists.getPageIndex + 1)">Next</a></li>
  					} else {
  					<li class="disabled"><a href="javascript://">Next</a></li>
  					}
				</ul>
				}
				
			} else {
				<p>There are no playlists found in the category</p>
			}
		</div>
		
	</div>
	
</div>
}