@(user:User, form: Form[Playlist], activities:List[(String,String)], playlistSongs : List[PlaylistSong] = null )
@import helper.twitterBootstrap2._
@playlistSongTemplate(songId:String, playlistSongId:String, songName:String, artistName:String, albumName:String, albumArtUrl:String, position:String = "0", playlistSong:PlaylistSong = null ) = {
	<li data-song-id="@Html(songId)" @if(playlistSong!=null){ data-playlist-song="@tags.playlistSongJson(playlistSong)" } >
		<div class="row-fluid">
			<div class="span2"><img alt="@Html(songName) by @Html(artistName)" src="@Html(albumArtUrl)" ></div>
			<div class="span10">
				<span class="song-name">@Html(songName)</span>
				<span class="artist-name">@Html(artistName)</span> <span class="album-name"> from @Html(albumName)</span>
				<div><a class="btn btn-small remove-song-from-playlist" data-song-id="@Html(songId)"><i class="icon-minus"></i> Remove</a></div>
				<input type="hidden" name="songs@Html(songId)_song_id" value="@Html(songId)" >
				<input type="hidden" name="playlistSongs@Html(songId)_id" value="@Html(playlistSongId)" >
				<input type="hidden" name="playlistSongs@Html(songId)_position" class="position" value="@Html(position)" >
			</div>
		</div>
	</li>
}
@Layout.default("Create a Playlist"){
<div id="create-playlist">
	<h1>Making your Playlist</h1>
	<hr>
		@helper.form(action = if( form("id").value == null ) routes.PlaylistController.createSubmit() else routes.PlaylistController.editSubmit( Integer.valueOf( form("id").value ) ) , 'class -> "form-horizontal playlist-details", 'id -> "create-playlist-form") {
		<div class="well">
			<div class="row-fluid">
				<div class="span3 albumPreview">
					<table><tr><td class="album0"></td><td class="album1"></td></tr><tr><td class="album2"></td><td class="album3"></td></tr></table>
				</div>
				<div class="span9">
					
					
					@if(flash.contains("success")) {
	                <div class="alert alert-success">
	                    @flash.get("success")
	                </div>
	            	}					
						
					@if(form.hasGlobalErrors) {
	                <div class="alert alert-error">
	                    @form.globalError.message
	                </div>
	            	}					
					
					@helper.inputText(form("name" ), '_showConstraints -> false, '_label -> "Title", 'class -> "span8")	
			
					@helper.textarea(form("description" ), '_showConstraints -> false, '_label -> "Description", 'class -> "span8", 'rows -> 6)
					
					@helper.select(form("activity"), activities, '_label -> "Activity or Category", 'class -> "span8")
					
					<div class="form-actions">
						<input class="btn btn-success" type="submit" value="Save" />
						@if( ( form("id").value != null ) && ( form("status").value == "Draft" ) ){
							OR <a href="#" class="btn">Publish</a>
						}
					</div>
				
				</div>
			</div>
		</div>
		<div class="row-fluid playlist-songs-control">
			<div class="span7">
				<h3>Songs on this Playlist</h3>
				<hr>
				<div class="playlist-songs-container">
					<ul>
					@if(playlistSongs != null ) {
						 @for( playlistSong <- playlistSongs.sortWith((e1, e2) => (e1.getPosition() < e2.getPosition() ) ) ) { 
	                
	                    	@playlistSongTemplate( 
	                    		if( playlistSong.getSong.getId != null ) playlistSong.getSong.getId.toString else "" , 
	                    		if(playlistSong.getId!=null) playlistSong.getId.toString else "" , 
	                    		playlistSong.getSong.getName, 
	                    		playlistSong.getSong.getAlbum.getArtist.getName, 
	                    		playlistSong.getSong.getAlbum.getName, 
	                    		playlistSong.getSong.getAlbum.getAlbumArtUrl, 
	                    		if( playlistSong.getPosition != null ) playlistSong.getPosition.toString else "0",
	                    		playlistSong
	                    	 )
	                
	                		
	                	}
					}
					
					</ul>
				</div>
			</div>
			<div class="span5">
				<h3>Search songs</h3>
				<hr>
				<div class="song-search-form">
					<input name="song-search" type="text" placeholder="Search by Song Name, Album or Artist" class="song-search span12">
				</div>
				<div class="songs-search-results-container">
				</div>
				
				
			</div>
		</div>
		
		}
	
</div>	
<script type="text/ejs" id="create-playlist-search-song-list">
<% if( songs && songs.length ){ %>
	<ul>
	<% for( var i = 0; i < songs.length; i++ ) { %>
	<li data-song-id="<%=songs[i].id%>">
		<div class="row-fluid">
			<div class="span2">
				<img alt="<%=songs[i].name %> by <%=songs[i].album.artist.name %>" src="<%=songs[i].album.albumArtUrl %>" >
				<div><a class="btn btn-small add-song-to-playlist" data-song-id="<%=songs[i].id%>" href="javascript://"><i class="icon-plus"></i> Add</a></div>
			</div>
			<div class="span10">
			
				<span class="song-name"><%=songs[i].name %></span>
				<span class="artist-name"><%=songs[i].album.artist.name %></span>  <span class="album-name"> from <%=songs[i].album.name %></span>

			</div>
		</div>
	</li>
	<% } %>
	</ul>
<% } else { %>
	<p>There are no songs found</p>
<% } %>
</script>
<script type="text/ejs" id="create-playlist-selected-song-element">
<% if( song ){ %>
	@playlistSongTemplate("<%=song.id%>", "<%=playlistSongId%>", "<%=song.name %>", "<%=song.album.artist.name %>", "<%=song.album.name %>", "<%=song.album.albumArtUrl %>", "<%=position%>")
<% } %>
</script>
	
}