@(user:User, form: Form[Playlist])@import helper.twitterBootstrap2._
@Layout.default("Create a Playlist"){
<div id="create-playlist">
	<h1>Making your Playlist</h1>
	<hr>
	<!--  Select active categories -->
	
		@helper.form(action = routes.PlaylistController.createSubmit(), 'class -> "form-horizontal well", 'id -> "create-playlist-form") {
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span10">
				
				@helper.inputText(form("name" ), '_showConstraints -> false, '_label -> "Title", 'class -> "span8")	
		
				@helper.textarea(form("description" ), '_showConstraints -> false, '_label -> "Description", 'class -> "span8")
				
				<div class="form-actions">
					<input class="btn btn-success" type="submit" value="Save" /> and <a href="" class="btn">Publish</a>
				</div>
			
			</div>
		</div>
		}
	
	
	
</div>	
	
}