@(user:User = null, playlist: Playlist = null)@{


	import com.codahale.jerkson.Json._
	import scala.collection.mutable.ListBuffer
		
	var playlistData:Map[String,Any] = null;	
		
	if( playlist != null ){
	
		playlistData = new HashMap[String,Any];
		
		playlistData.put("name", playlist.getName())
		playlistData.put("id", playlist.getId().toString())
		
		var playlistSongsData = new ListBuffer[Map[String,Any]]
		val playlistSongs:List[PlaylistSong] = if( user != null ){ playlist.getPlaylistSongs().filter( !_.isDislikedByUser(user) ) } else { playlist.getPlaylistSongs() } 
		
		java.util.Collections.shuffle( playlistSongs )
		
		for( playlistSong <- playlistSongs )
		{
			val song = playlistSong.getSong()
			val album = song.getAlbum()
			val artist = album.getArtist()
		
			val playlistSongData = scala.collection.immutable.Map(
				"id" 				-> playlistSong.getId,
				"likes_count"		-> playlistSong.getLikesCount,
				"dislikes_count"	-> playlistSong.getDislikesCount,
				
				"Song"				-> scala.collection.immutable.Map(
					"name"				-> song.getName,
					"id"				-> song.getId,
					"song_url"			-> song.getSongUrl,
					
					"Album"			->  scala.collection.immutable.Map(
						"id"			-> album.getId,
						"album_art_url"	-> album.getAlbumArtUrl,
						"description"	-> album.getDescription,
						
						"Artist"			->  scala.collection.immutable.Map(
							"id"				-> artist.getId,
							"name"				-> artist.getName,
							"description"		-> artist.getDescription
						)
						
					)  		
				)
			);
			
			playlistSongsData.append(playlistSongData)
		}
		
		playlistData.put("PlaylistSong", playlistSongsData)
	}
	
	
	Html(generate(playlistData))
	 
}