@(playlist:Playlist, recentActivityUsers: List[User], category:MusicCategory)@Layout.default(title = "Playlist " + playlist.getName ) {
	<div id="playlist-page">
	 
		<div class="row-fluid">
			<div class="span2">
				<!-- a first album image -->
				<img src="@playlist.getPlaylistSongs.head.getSong.getAlbum.getAlbumArtUrl" alt="album" > 
			</div>
			<div class="span8"> 
				<h2>@playlist.getName</h2>
				<p>@playlist.getDescription</p>
				<p><small>With Artists: @playlist.getPlaylistSongs().map( pSong => pSong.getSong().getAlbum().getArtist().getName() ).distinct.mkString(", ")</small></p>
			</div>
		</div>	
		
		<div class="row-fluid controls player-controls" >
			<a href="javascript://" class="btn play player-controls-play" data-playlist-id="@playlist.getId"><i class="icon-play"></i> Play</a>
			
			<a href="javascript://" class="btn save player-controls-save-as-favorite @(if(playlist.isSavedByUser()){"hide"})" data-playlist-id="@playlist.getId"><i class="icon-plus-sign"></i> Save Playlist</a>
			<!-- <a href="javascript://" class="btn save player-controls-delete-from-favorite @(if(!playlist.isSavedByUser()){"hide"})" data-playlist-id="@playlist.getId"><i class="icon-plus-sign"></i> Delete From Saved</a>  -->
		</div>
		
		@if( category != null ){
			<div>
				<a href="@routes.ApplicationController.category(category.getId())">
					Back to the playlists of <i>@category.getName()</i>
				</a>
			</div>
		}
		
		
		@if( recentActivityUsers.size() > 0 ){
		<div class="row-fluid" style="margin-top:2em">
			<h3>Recent listeners</h3>
			<hr />
			<ul class="thumbnails">
				@for( user <- recentActivityUsers ){
					<li class="span1"><a href="@routes.UserController.publicProfile(user.getId())" title="@user.getUsername()">
						@if( user.getImageUrl() != null ){
						<img src="@user.getImageUrl()" alt="@user.getUsername()">
						} else {
						<img src="@routes.Assets.at("files/user/64x64.png")" alt="@user.getUsername()">
						}
					</a></li>
				}
			</ul>
		</div>
		}

    </div>	
}