@(playlists: List[Playlist])@{
	import com.codahale.jerkson.Json._
	
	val jsonList = new scala.collection.mutable.ListBuffer[Map[String,String]]()
	
	for(playlist <- playlists)
	{
		var jsonPlaylist = new HashMap[String,String]
		
		jsonPlaylist.put("label", playlist.getName() )
		jsonPlaylist.put("value", playlist.getId().toString() )
		jsonPlaylist.put("description", playlist.getDescription() )
		jsonPlaylist.put("id", playlist.getId().toString())
		
		jsonList.append(jsonPlaylist)
	}
	
	Html(generate(jsonList))	
}
