@(playlists:Page[Playlist])@Layout.default(title = "My Playlists " ) {
<div id="user-playlists">
	<h1>My Playlists | <a href="@routes.PlaylistController.create()">Create a Playlist</a></h1>
	<hr>
	@if( ( playlists != null ) && ( playlists.getList.size > 0 )){
		<ul>
			@for(playlist <- playlists.getList ){
			<li class="clearfix">
				<h3>@playlist.getName | <a href="@routes.PlaylistController.edit( playlist.getId )">Edit</a></h3>
				<p><small>@{ new java.text.SimpleDateFormat("d MMM, yy").format(playlist.getCreatedDate) }</small></p>
				<p>@playlist.getDescription</p>
			</li>
			}
						
		</ul>
		
		@if(playlists.hasNext || playlists.hasPrev){
		<ul class="pager pull-left">
			@if(playlists.hasPrev){
				<li><a href="@routes.PlaylistController.userPlaylists(playlists.getPageIndex - 1)">Previous</a></li>
				} else {
				<li class="disabled"><a href="javascript://">Previous</a></li>
				}
				@if(playlists.hasNext){
				<li><a href="@routes.PlaylistController.userPlaylists(playlists.getPageIndex + 1)">Next</a></li>
				} else {
				<li class="disabled"><a href="javascript://">Next</a></li>
				}
		</ul>
		}		
		
	} else {
	<p>There are no playlists created.</p>
	}
	
</div>	
	
}