@(playlists:Page[Playlist])@Layout.default(title = "My Playlists " ) {
<div id="user-playlists">
	<h1>My Playlists <a class="btn btn-large pull-right" href="@routes.PlaylistController.create()"><i class="icon-plus-sign"></i> Create a Playlist</a></h1>
	<hr>
	
	@if(flash.contains("success")) {
		<div class="alert alert-success">@flash.get("success")</div>
   	}	
	
	@if( ( playlists != null ) && ( playlists.getList.size > 0 )){
		<ul>
			@for(playlist <- playlists.getList ){
			<li class="clearfix">
			
				<div class="row-fluid">
				
					<div class="span2">@tags.playlistThumbnail(playlist)</div>
					<div class="span10">
					
						<h3>@playlist.getName 
						<div class="pull-right">
						@if( playlist.getPlaylistSongs.size > 0 ){
						<a href="javascript://" class="btn btn-small play player-controls-play" data-playlist-id="@playlist.getId"><i class="icon-play"></i> Play</a>
						} 
						<a class="btn btn-small" href="@routes.PlaylistController.edit( playlist.getId )"><i class="icon-edit"></i> Edit</a>
						</div>
						</h3>
						
						<p><small>Created on @{ new java.text.SimpleDateFormat("d MMM, yy").format(playlist.getCreatedDate) }</small>
						
						@if( playlist.getStatus == models.Playlist.Status.Public ){
						<span class="label label-success">Public</span>
						} 				
						
						</p>
						<p>@playlist.getDescription</p>					
					</div>
				
				</div>
			

			</li>
			}
						
		</ul>
		
		@if(playlists.hasNext || playlists.hasPrev){
		<ul class="pager pull-left">
			@if(playlists.hasPrev){
				<li><a href="@routes.PlaylistController.userPlaylists(playlists.getPageIndex - 1)">Previous</a></li>
				} else {
				<li class="disabled"><a href="javascript://">Previous</a></li>
				}
				@if(playlists.hasNext){
				<li><a href="@routes.PlaylistController.userPlaylists(playlists.getPageIndex + 1)">Next</a></li>
				} else {
				<li class="disabled"><a href="javascript://">Next</a></li>
				}
		</ul>
		}		
		
	} else {
	<p>There are no playlists created.</p>
	}
	
</div>	
	
}