@(parentCategory:MusicCategory, categories:Set[MusicCategory])@Layout.default(
	title = "Home", 
	metaKeywords = "Skyjam Music Mp3 playlists", 
	metaDescription = "Online Music"
){
    
@if( parentCategory != null ){
	<h3>Select your activity from <i>@parentCategory.getName()</i></h3>
} else { 
	<h3>Select your activity, browse <a href="@routes.PlaylistController.popular("trending")">popular Playlists</a> or <a href="@routes.PlaylistController.browseCategories()">Categories</a></h2>
}

<div id="activityBar" class="row-fluid">
	<ul>
	@for( category <- categories ){
		<li class="span3">
		<img src="@category.getImageUrl()" alt="@category.getName()"  width="@MusicCategory.imageMetadata.width" height="@MusicCategory.imageMetadata.height">
		<a href="@routes.ApplicationController.category(category.getId())">@category.getName()</a></li>
	}
	</ul>
</div>
 
	@if( ( parentCategory != null ) ){ 
	 
		@if( ( parentCategory.getParent() != null ) && ( parentCategory.getParent().getId != 0 ) ){
					<div>
						<a href="@routes.ApplicationController.category(parentCategory.getParent().getId())">
							Back to the <i>@parentCategory.getParent().getName()</i>
						</a>
					</div>
		} else {
			<div><a href="@routes.ApplicationController.index()">Back to the Homepage</a></div>
		}
		
	} else {
	

	
	} 
	
    
}