@(category:MusicCategory, playlists:Set[Playlist])@Layout.default(
	title = "Playlists for " + category.getName,
	metaKeywords =  ( if( playlists.size > 0 ){ "Playlists, " +playlists.map( playlist => playlist.getName() ).mkString(", ") } else { "" } ) ,
	metaDescription = ( if( playlists.size > 0 ){ "Playlists : "+playlists.map( playlist => playlist.getName() ).mkString(", ") } else { "There are no playlists found" } ) 
	
	
) {
<h2>Select a playlist</h2>
<div id="playlistsRow" class="row-fluid">
@if( playlists.size() > 0 ){
	<ul>
	@for( playlist <- playlists ){
		<li class="span@( ( 12 / playlists.size() ).toInt )">
			<h2><a href="@routes.PlaylistController.playlist(playlist.getId(), category.getId())">@playlist.getName</a></h2>
			<p>@playlist.getDescription</p>
			<div><a href="#" class="btn btn-large player-controls-play" data-playlist-id="@playlist.getId"><i class="icon-play"></i>Play</a></div>
			<ul class="row-fluid songs">
				@for( playlistSong <- ( playlist.getPlaylistSongs(4) ) ){
					<li class="span@( (12/4).toInt )"><img src="@playlistSong.getSong.getAlbum.getAlbumArtUrl" title="@playlistSong.getSong().getName" alt="@playlistSong.getSong().getName" ></li>
				}
				
			</ul>
		</li>
	}
	</ul>
	
	
} else {
<p>There are no playlists found</p>
}

</div>

		@if( ( ( category.getParent ) != null ) && ( category.getParent().getId() != 0 ) ){
			<p>
				<a href="@routes.ApplicationController.category(category.getParent().getId())">
					Back to the <i>@category.getParent().getName()</i>
				</a>
			</p>
		} else {
			<p>
				<a href="@routes.ApplicationController.index()">
					Back to the Homepage
				</a>
			</p>		
		}
		


    
}