@(parentCategory:MusicCategory, categories:Set[MusicCategory])

@Layout_main("Home", metaKeywords = "Skyjam Music Mp3 playlists", metaDescription = "Online Music") {
    
@if( parentCategory != null ){
	<h2>Select your activity from <i>@parentCategory.name</i></h2>
} else { 
	<h2>Select your activity</h2>
}

<div id="activityBar" class="row-fluid">
	<ul>
	@for( category <- categories ){
		<li class="span3">
		@if( category.getImageUrl() != null ){
		<img src="@category.getImageUrl()" alt="@category.name">
		} else {
		<img src="@routes.Assets.at("files/music_category/240x180.gif")" alt="@category.name">
		}
		<a href="@routes.ApplicationController.category(category.getId())">@category.name</a></li>
	}
	</ul>
</div>
    
}