@(playlist:Playlist, recentActivityUsers: List[User])

@Layout_main(title = "Playlist " + playlist.getName ) {
<div id="playlist-page">
 
<div class="row-fluid">
	<div class="span2">
		<!-- a first album image -->
		<img src="@routes.Assets.at("files/album/240x240.gif")" alt="album" > 
	</div>
	<div class="span8"> 
		<h2>@playlist.getName</h2>
		<p>@playlist.getDescription</p>
	</div>
</div>	

<div class="row-fluid controls" >
	<a href="#" class="btn play"><i class="icon-play"></i> Play</a>
	<a href="#" class="btn pause"><i class="icon-pause"></i> Play</a>
	<a href="#" class="btn save"><i class="icon-plus-sign"></i> Save Playlist</a>
</div>

<!-- 
<h3>Songs</h3>
<div class="row-fluid">
			<ul >
				@for( playlistSong <- ( playlist.getPlaylistSongs() ) ){
					<li>@playlistSong.song.getName</li>
				}
				
			</ul>
</div>
 -->
 

@if( recentActivityUsers.size() > 0 ){
<div class="row-fluid" style="margin-top:2em">
<h3>Recent listeners</h3>
<hr />
<ul class="thumbnails">
	@for( user <- recentActivityUsers ){
		<li class="span1"><a href="@routes.UserController.publicProfile(user.getId())" title="@user.getUsername()">
			@if( user.getImageUrl() != null ){
			<img src="@user.getImageUrl()" alt="@user.getUsername()">
			} else {
			<img src="@routes.Assets.at("files/user/64x64.png")" alt="@user.getUsername()">
			}
		</a></li>
	}
</ul>
</div>


</div>	
}

    
}