@(user: User)

@Layout_stub("Registered Successfully") {

	<h1>Thank you, @user.getUsername().split("@")(0)</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam diam ante, tempor non vulputate eget, pellentesque ac turpis. Nullam condimentum fringilla arcu, vel commodo neque auctor ut. Maecenas quis vestibulum elit. Integer tincidunt mattis metus. Vivamus adipiscing odio aliquam orci tincidunt et ornare velit aliquet. Pellentesque a arcu ante. Praesent ut elementum velit. Donec rutrum feugiat metus, vitae fermentum diam hendrerit ac. Aliquam sollicitudin augue eget neque pretium ut sagittis neque interdum. Nullam accumsan dui eu turpis iaculis vestibulum. Sed consectetur mi quis tortor sodales mollis. In hac habitasse platea dictumst.</p>
	
}
